.ProjectUploadControl1 {
  height: 100vh;
  width: 100%;
  background-image: url("../Images/uplf1.png");
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: poppins;
}

.SubProjectUpload1 {
  width: 600px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
}

.ProjUploadControl1 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.InputTextAreaDiv1 {
  width: 250px;
  margin: 10px;
}

@media screen and (max-width: 500px) {
  .SubProjectUpload1 {
    width: 300px;
  }
}
