.ProjectUploadControl {
  height: 100vh;
  width: 100%;
  background-image: url("../Images/upsix.png");
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: poppins;
}

.SubProjectUpload {
  width: 600px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
}

.ProjUploadControl {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.InputTextAreaDiv {
  width: 250px;
  margin: 10px;
}

@media screen and (max-width: 500px) {
  .SubProjectUpload {
    width: 300px;
  }
}
